---
---
//
// IMPORTS
//

@import "variables";
@import "base";
@import "highlights";
@import "flex-grid";
@import "primary-btn";

// layout

%container {
    max-width: $siteWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

@import "header";
@import "footer";

.content {
    @extend %container;
}

.page-title {
    font-size: 1.5em;
    margin-bottom: .75em;
}

// pages

@import "home";
@import "work";
@import "contact";
@import "post";
