---
---

//
// IMPORTS
//

@import "variables";
@import "base";
@import "highlights";
@import "flex-grid";

%container {
    max-width: $siteWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}
// btn

.btn {
    color: $sunsetOrange;
    background: transparent;
    border: none;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover {
        background: transparent;
        color: lighten($sunsetOrange, 10%);

        &:before,
        &:after {
            transition: all 0.7s ease;
            width: 100%;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 0px;
        height: 3px;
        background: lighten($sunsetOrange, 10%);
        transition: all 0.4s ease;
    }
    &:after {
        top: inherit;
        left: inherit;
        bottom: 0;
        right: 0;
    }
}

// layout

.site-header {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $athensGray;
    margin-bottom: 3em;
}

.header-nav {
    @extend %container;
}
.site-nav {
    // @extend .col-sm-9;
    @extend .row;
    align-items: center;
    justify-content: center;
}

.header-title {
    @extend .col-xs-3;

    font-size: 2em;
    font-weight: 100;
    a {
        text-decoration: none;
        color: $shamrock;
    }
}
.header-links {
    @extend .col-xs-9;
    align-items: flex-end;
    li {
        display: inline-block;
        & ~ li {
            margin-left: 1em;
        }
    }
    .btn {
        font-size: 1.2em;
        text-decoration: none;
        padding: .75em;
    }
}

@media (max-width: 500px) {
    .header-title, .header-links {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
        text-align: left;
        align-items: flex-start;
    }
    .header-links {
        margin-top:1em;
    }
}

.link-work {
    @extend .btn;
    color: $shamrock;
    &:hover {
        color: darken($shamrock, 10%);;
    }

    &:before,
    &:after {
        background: lighten($shamrock, 10%);

        .page-work & {
           width: 100%;
        }
    }
}
.link-contact {
    @extend .btn;
    color: $troyBlue;

    &:hover {
        color: darken($troyBlue, 10%);
    }

    &:before,
    &:after {
        background: lighten($troyBlue, 10%);

        .page-contact & {
           width: 100%;
        }
    }
}
.link-home {
    @extend .btn;

    &:before,
    &:after {
        background: lighten($sunsetOrange, 10%);

        .page-home & {
           width: 100%;
        }
    }
}
.content {
    @extend %container;
}


h2 {
    font-size: 1.5em;
    margin-bottom: .75em;
}

hr {
   border : 0;
   height : 1px;
   background: $athensGray;
   margin : 1em 0;
}

// footer

.site-footer {
    margin-top: 3em;
    border-top: 1px solid $athensGray;
}
.footer-links {
    @extend %container;
    text-align: center;
    padding: 2em 1em;

    ul {
        @extend .row;
    }
    li {
        @extend .col-xs-12;
        @extend .col-sm-2;

        font-size: .75em;

        &:first-child {
            @extend .off-sm-4;
        }
    }

}
// home page

.about {
    @extend .row;

    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid $athensGray;
}

.about-col {
    @extend .col-xs-3;

    @extend .col-sm-2;
    @extend .off-sm-3;
}
.about-img {

    img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 100%;
        opacity: 0.7;
        max-height: 200px;
    }
}
.about-text {
    @extend .col-xs-9;
    @extend .col-sm-4;
    position: relative;

    p {
        margin-bottom: .5em;
    }

    .nw {
        white-space: nowrap;
    }

    span {
        background: $athensGray;
        color: $troyBlue;
        padding: 0 .5em;
        transition: opacity .3s ease-out;
        opacity: 1;
        cursor: pointer;
        &.fadeOut {
            opacity: 0;
        }
    }

}

.about-btn {
    text-align: center;
    margin-top: 1em;

    button {
        @extend .btn;
        outline: none;
        font-size: 1em;
        padding: .5em;
        display: inline-block;
    }
}

.post-list {
    border-width: 1px 0 1px;
}

.posts {
    .post {
        @extend .row;
        margin-bottom: 1em;

        .title {
            @extend .col-xs-12;
            @extend .col-sm-4;
            font-weight: 400;
            margin-right: 1em;

            a {
                color: $sunsetOrange;
            }
        }
        .date {
            @extend .col-xs-12;
            @extend .col-sm-3;
            font-size: .75em;
            font-weight: 400;
        }
    }
}

.post-excerpt {
    font-size: .75em;
    @extend .col-xs-12;
    @extend .col-sm-6;
}

.read-more {
    color: $troyBlue;
}

//post

.post-title {
    color: $sunsetOrange;
    margin-bottom: 0;
}
.post-meta {
    margin-bottom: 1em;
    font-size: .875em;
    font-weight: 400;
}

.post-body {
    font-weight: 300;
    color: #333;
    max-width: 680px;
    p {
        margin: 1em 0;

        code {
            background: #eee;
            font-size: 1em;
        }
    }
    pre {
        box-sizing: border-box;
        display: inline-block;
        background: #eee;
        padding: 1em;
        max-width: 100%;
        overflow-x: auto;
    }
    strong {
        font-weight: 500;
    }
}
.post-comments {
    max-width: 680px;
}

// work page

.work-areas {
    @extend .row;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid $athensGray;
    border-width: 1px 0;
}

.work-text {
    font-size: .875em;
}

.work-area {
    @extend .col-xs-12;
    @extend .col-sm-4;
    margin-bottom: 1em;

    h3 {
        color: $sunsetOrange;
        margin-bottom: .25em;
    }
}

.work-text {
    em {
        font-style: normal;
        display: inline-block;
        // @extend .col-xs-2;
        background: $athensGray;
        padding: .25em;
        margin-bottom: .25em;
    }
}

.work {
    @extend .row;
    padding-bottom: 3em;
    margin-bottom: 3em;
    margin-top: 3em;

    border-bottom: 1px solid $athensGray;
    overflow: hidden;

    &:last-child {
        border-bottom-width: 0;
        padding-bottom: 0;
    }
}

.work-title {
    font-size: 1.125em;
    margin-bottom: .75em;
}

.work-info {
    @extend .col-sm-4;
    @extend .col-xs-12;

    margin-bottom: 2em;
}

.work-description, .work-done {
    margin-bottom: 1em;
    font-size: .875em;
}

.work-done {
    font-weight: 500;
    padding-bottom: 0em;
    margin-bottom: .5em;
}

.work-display {
    @extend .off-sm-1;
    @extend .col-sm-7;
    @extend .col-xs-12;
}
.work-image{
    height: 300px;
    overflow: hidden;
    position: relative;

    &.expanded {
        height: auto;
        &:after {
            display: none;
        }
    }
    &:after {
        content: "click to view full";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: .75em;
        padding: 1em;
        text-transform: uppercase;
        text-align: center;
        background: rgba($shamrock, .95);
        cursor: pointer;
        font-weight: 500;
    }

    img {
        width: 100%;
        display: block;
        cursor: pointer;
    }
}

.work-tags {
    margin: 0 0 1em;
    li {
        display: inline-block;
        background: $shamrock;
        font-size: .875em;
        padding: 0 .5em;
        margin-bottom: .5em;
        font-weight: 500;
    }
}
.work-link {
    font-size: .875em;
}
// contact

.contact-text {
    font-size: .875em;
    margin-bottom: 1em;
}
.contact-forms {
    @extend .row;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid $athensGray;

    form {
        @extend .col-xs-12;
        @extend .col-sm-5;
        margin-bottom: 2em;

        &:last-child {
            @extend .off-sm-2;
        }

        .contact-text {
            text-align: center;
            padding: 0 16px;
            margin-top: 2em;
        }
    }
    h3 {
        color: $white;
        margin-bottom: .5em;
        padding: 2em 0;
        font-weight: 300;
        background: $shamrock;
        text-align: center;
    }

    .button {
        font-size: 1em;
        padding: .5em 2em;
        background: rgba($athensGray, .5);
        margin: 1em;
        border-width: 0;
        display: inline-block;
        cursor: pointer;
        transition: .3s ease-out background;
        &:hover {
            background: rgba($athensGray, 1);
        }
    }

}
.contact-button {
    text-align: right
}
.contact-form {
    border: 1px solid $shamrock;
}
.form-field {
    margin-bottom: 1em;
    padding: 1em;

    label {
        color: $sunsetOrange;
        display: block;
        font-weight: 500;
        cursor: pointer;
        padding-bottom: .5em;
    }
    input, textarea {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $sunsetOrange;
        border-width: 0 0 1px;
    }
    textarea {
        min-height: 100px;
    }
}
