
//
// VARIABLES
//

$siteWidth: 960px;

$font-family: 'Roboto', sans-serif;
$regular: 300;
$semi-bold: 400;
$extra-bold: 700;

// Colors
$white: #ffffff;
$black: #000000;
$bermuda: #78D5D7;
$athensGray: #E6E6EA;
$sunsetOrange: #FE4A49;
$shamrock: #3DDC97;
$troyBlue: #1446A0;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}