<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body class="page-{{ page.class }}">

    <header class="site-header">
      <div class="header-nav">
        <nav class="site-nav">
          <h1 class="header-title"><a href="{{ site.baseurl }}/">Nate Jackman</a></h1>
          <div class="header-links">
            <ul>
              <li><a href="{{ site.baseurl }}/" class="link-home">Home</a></li>
              <li><a href="{{ site.baseurl }}/work" class="link-work">Work</a></li>
              <li><a href="{{ site.baseurl }}/contact" class="link-contact">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    {{ content }}

    <footer class="site-footer">
      <div class="footer-links">
        <ul>
          <li><span>Nate Jackman</span></li>
          <li><a href="mailto:natejackman@gmail.com">natejackman@gmail.com</a></li>
        </ul>
      </div>
    </footer>

    {% include analytics.html %}

    <script src="/js/site.js"></script>

  </body>
</html>
